**/env
clones/Webcam-Face-Detect/
DataScienceCourse/bulldozer-price-prediction-project/data/bluebook-for-bulldozers/train_tmp.csv
DataScienceCourse/bulldozer-price-prediction-project/data/bluebook-for-bulldozers/TrainAndValid.csv
DataScienceCourse/bulldozer-price-prediction-project/data/bluebook-for-bulldozers/Valid.csv
DataScienceCourse/bulldozer-price-prediction-project/data/bluebook-for-bulldozers/Test.csv
DataScienceCourse/bulldozer-price-prediction-project/data/bluebook-for-bulldozers/Train.csv
clones/FlapPyBird/
